html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 95%;
    margin: 0 auto;
    padding: 1.2rem 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    
}
.logo__container {
    cursor: pointer;
}
.overlay__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
.navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}
.navlinks li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
.navlinks li:hover a {
    color: rgb(182, 134, 134);
}
.social__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 1.5rem;
}
.social__icons > i:hover {
    color: rgb(182, 134, 134);
    cursor: pointer;
}
.main {
    color: white;
    display: flex;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main h1 {
    font-size: 3rem;
    margin: 0;

}
.main p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    width: 45%;
    text-align: center;
    padding: 1rem 0;
}
.main span {
    color:#57be94 ;
}
.btn_container {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    z-index: 10;
}
.btn {
    border: none;
    outline: none;
    background: transparent;
    padding: 12px 30px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
}
.btn__yellow {
    background-color: #57be94;
    color: black;
}
.btn__opaque {
    border: 1px solid white;
    color: white;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
}

/* SECTIONS STYLE */
.section {
    position: absolute;
    inset: 0;
    transform: translateY(-100vh);
    background: black;
    z-index: 20;
    color: white;
    padding: 5rem;
    overflow-y: auto;
    line-height: 1.8;
    font-weight: 400;
    transition: all 0.8s ease-in-out;
    scrollbar-width: 0;
    -webkit-scrollbar-width: 0;
}
 
/* ABOUT SECTIONS */
#about {
    display: flex;
    justify-content: center;
    
}
.text__heading {
    font-size: 4.2rem;
    margin: 0;
    letter-spacing: 3px;
    background: transparent;
    color: white;
}
.wrapper {
    width: 100%;
    /* position: relative; */
    text-align: center;
    display: flex;
    height: auto;
    gap: 5rem;
    flex-direction: column;
    color: white;
}
.close__btn {
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    cursor: pointer;
}
.about__desc {
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: left;
    position: relative;
}
.left {
    flex: 1;
}
.innovtion_txt {
    color: black;
}
.left__txt_container{
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}
.left__txt_container::after {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    border-top: 60px solid #57be94;

}
.right {
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: left;
}
.right >* {
    margin: 0;
}
.right > p {
    padding-bottom: 1rem;
}

.img__container {
    width: 100%;
    padding-bottom: 5rem;
}
.img__container > img {
    width: 100%;
}

/* Utitlity */
.color {
    color: #57be94;
}
.gray__bg {
    background-color: #57be94;

}
.value__txt-container{
    padding: 3rem;
}
.text__black {
    color: black;
}
.text__left {
    text-align: left;
}





/* ABOUT END */

/* SPECIALITIES START */
#specialities {
    display: flex;
    justify-content: center;
}
.flex__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.spec__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}
.spec__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}
.purpose__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spec__txt_container {
    padding: 3rem;
    margin: 3rem 0;
}
/* SPECIALITIES END */





/* SERVICES START */
#services {
    display: flex;
    justify-content: center;
}
/* SERVICES END */



/* CONTACT START */
#contacts {
    display: flex;
    justify-content: center;
}
/* CONTACT END */